{%  extends "HillCMSSpirodelaBundle:Default:bootstrap3-template.html.twig" %}
{% block body %}
    <div class="container">
	    <iframe style="min-height:100%; width:100%"src="http://{{app.request.host}}/index.html?data=sample_data/json/volvox"></iframe>
    </div>		
{% endblock %}
{% block footer %}
	{% include "HillCMSSpirodelaBundle:Default:footer-template.html.twig"%}
{% endblock %}
{% block javascript %}
<script type="text/javascript">
	$(document).ready(function(){
		//set footer heights
		var heights = $(".footer-section").map(function (){
			        return $(this).height();
				}).get(),

		maxHeight = Math.max.apply(null, heights);
		$(".footer-section").height(maxHeight);

		$(document).scroll(function(){
			if($(".banner").height() - $(".navbar").height() < $(document).scrollTop()){
				$(".navbar").css("top", "0px");
				$(".navbar").addClass("navbar-fixed-top");
				console.log("stick");
			}
			else{
				$(".navbar").css("top", "248px");
				$(".navbar").removeClass("navbar-fixed-top");
			}
		})
	});
</script>
{% endblock %}
