{%  extends "HillCMSCCBLBundle:Default:bootstrap-template.html.twig" %}

{% block body %}
<div id="myCarousel1" class="carousel slide">
	<div class="carousel-inner">
		<div class="item">
			<img src={{ asset("includes/images/servers1.jpg") }} alt="">
			<div class="container-fluid">
				<div class="carousel-caption">
					<h1>CCPL Server room.</h1>
				</div>
			</div>
		</div>
		<div class="item">
			<img src={{ asset("includes/images/Doug1.jpg") }} alt="">
			<div class="container-fluid">
				<div class="carousel-caption">
					<h1>Use of growth chambers.</h1>
				</div>
			</div>
		</div>
		<div class="item">
			<img src={{ asset("includes/images/phenotyper1.jpg") }} alt="">
			<div class="container-fluid">
				<div class="carousel-caption">
					<h1>Lemnatec automated phenotyper.</h1>
				</div>
			</div>
		</div>
		<div class="item active">
			<img src={{ asset("includes/images/phenotyper3.jpg") }} alt="">
			<div class="container-fluid">
				<div class="carousel-caption">
					<h1>Lemnatec Phenotyper in use.</h1>
					<!-- use class lead for the smaller subtext -->
				</div>
			</div>
		</div>
	</div>
	<a class="left carousel-control" href="#myCarousel1" data-slide="prev">&lsaquo;</a>
	<a class="right carousel-control" href="#myCarousel1" data-slide="next">&rsaquo;</a>
</div>
<!-- /.carousel -->
<!-- Marketing messaging and featurettes -->
<!-- Wrap the rest of the page in another container-fluid to center all
the content. -->

<div 
class="container-fluid marketing">
	<div class="featurette"
	style="padding-left: 40px; padding-right: 40px;">
		<h2 class="featurette-heading">The Crop Computational Biology
		Labratory.</h2>

		The Crop Computational Biology Laboratory (CCBL) at the Donald
		Danforth Plant Science Center is composed of computational biologists,
		bioinformaticists, and computer scientists, and is built upon the
		resources provided by the Bioinformatics Core Facility.
		<br/>
		<p>
			Members of the CCBL work on large numbers of diverse projects
			spanning high-throughput sequencing data analysis, genome assembly
			and analysis, transcriptome assembly and analysis, structural and
			functional annotation, differential expression analysis, comparative
			genomics and transcriptomics, marker discovery, and many other areas
			of research. Areas of particular interest include development of
			algorithms and techniques for analysis of high-throughput plant
			phenotyping data and development of algorithms and techniques for
			integrating genotype, phenotype, and environmental data to better
			understand and predict plant stress responses.
		</p>
	</div>
</div>
{% endblock %}
{% block javascript %}
<script>
	! function($) {
		$(function() {
			$('#myCarousel1').carousel()
		})
	}(window.jQuery)
</script>
{% endblock %}